body {
    margin: 1em auto;
    line-height: 1.2;
    font-size: 14px;
    padding: 0 0.5em;
    flex-direction: column;
}

div {
    display: flex;
}

hr, body {
    color: #444;
}

h1, h2, h3 {
    line-height:1.1;
}

textarea.comment {

}

.comment {
    background: #eee;
    padding-bottom: 0.5em;
    margin: 1em;
    border-radius: 5px;
    font-family: monospace;
    white-space: pre-wrap;
    flex-direction: column;
    padding: 1em;
}

.comments , .poster {
    margin-left: 15%;
    width: 75%;
}

.comments > .comment {
    display: inline-block;
}

textarea.comment {
    flex-direction: row;
    background: #ddd;
    padding: 1em;
    border-radius: 5px;
}

.links {
    flex-direction: column;
    justify-content: space-between;
}

.poster , .addtorrent {
    justify-content: center;
}

.info {
    flex-grow: 1;
}

.files, .info, .torrents{
    width: 75%;
    flex-direction: column;
}

.files {
    background-color: #eee;
    padding: 1em;
}

.torrent {
    flex-direction: row;
}

.file, .header, .info {
    justify-content: space-between;
    flex-direction: row;
}

.size {
    flex-basis: right;
}

.file > .name {
    width: 90%;
    overflow-wrap: break-word;
}

.file:nth-child(2n) {
    background-color: #ddd;
}

.file:nth-child(2n+1) {
    background-color: #eee;
}

.comments {
    flex-direction: column;
}

.date {
    font-weight: bolder;
}

.torrents > .torrent > .info , .torrents > .header > .info {
    flex-direction: row;
    justify-content: space-between;
}

form {
    display: flex;
    flex-direction: column;
}

.poster > .comment {
    flex-direction: row;
}

.captcha {
    flex-direction: column;
}

#captcha {
    height: 20px;
}

