body {
    margin: 1em auto;
    line-height: 1.2;
    font-size: 14px;
    padding: 0 0.5em;
}

hr, body {
    color: #444;
}

h1, h2, h3 {
    line-height:1.1;
}

div.comment {

}

textarea.comment {

}
