<!DOCTYPE HTML>
<html>

<head>
  <title> {{ .Site }} - {{ .Category.Name }} </title>
  <style type="text/css">
    body, html {min-height: 100%;}
    body {background: #111;}
    body {background: repeating-linear-gradient(45deg, #444, #333 2px, #222 3px), repeating-linear-gradient(135deg, #444, #333 2px, #222 3px); background-blend-mode: multiply, normal;}
    .inner, #footer {opacity: 0;}
  </style>
  <link rel="stylesheet" href="/static/style.css" />
  <link href="http://{{ .Domain }}/c/{{ .Category.ID }}/?t=atom" type="application/atom+xml" rel="alternate" title="{{ .Category.Name}} torrents on {{ .Site }}" />
</head>

<body>
  <div class="container">
    <div class="panel">
      <div class="inner category">
        <div id="topnav"> <a href="/"> {{ .Site }} </a> </div>
        <table id="category">
          <thead>
            <tr class="header">
              <td colspan="4">Category: {{ .Category.Name }} &nbsp;
                <span id="atom" style="float: right;"><a href=".?t=atom" title="Atom feed for this category"><img src="/static/feed.png"></a></span>
                <span id="tsearch" style="float: right;"><a href="/s/" title="Search for content by tag"><img src="/static/search.png"></a></a></span>
              </td>
            </tr>
            <tr>
              <th>Name</th>
              <th class="dateuploaded">Uploaded</th>
              <th class="filesize">Size</th>
              <th style="text-align: center !important;">Download</th>
            </tr>
          </thead>
          <tbody> {{ range .Torrents }}
            <tr>
              <td><a href="/t/{{ .InfoHash }}/">{{ .Name }}</a></td>
              <td class="dateuploaded"><time class="date" datetime="{{ FormatDateGlobal .UploadedAt }}" title="{{ FormatDateRFC2822 .UploadedAt }}">{{ FormatDateNoTime .UploadedAt }}</time></td>
              <td class="filesize">{{ .SizeString }}</td>
              <td style="text-align: center !important;">
                <a class="magnet" href="magnet:?xt=urn:btih:{{ .InfoHash }}"><img src="/static/magnet.png"></a>
                <a class="torrent" href="{{ .DownloadLink }}"><img src="/static/download.png"></a>
              </td>
            </tr>{{ end }}
          </tbody>{{ if .HasNextPage }}
          <tfoot>
            <tr>
              <th id="pagenav" style="text-align: center !important;" colspan="4">
                <a href="/c/{{ .Category.ID }}/?p={{ .NextPage }}"> Next Page</a>
              </th>
            </tr>
          </tfoot> {{ end }} {{ if .HasPrevPage }}
          <tfoot>
            <tr>
              <th id="pagenav" style="text-align: center !important;" colspan="4">
                <a href="/c/{{ .Category.ID }}/?p={{ .PrevPage }}"> Previous Page</a>
              </th>
            </tr>
          </tfoot>{{ end }}
        </table>
        <hr>
        <div class="postform" align="center" id="torrentadd">
          <form method="POST" enctype="multipart/form-data">
            <input type="checkbox" id="toggleaddtorrent" class="toggleinput">
            <label class="toggle" for="toggleaddtorrent"><b>Add Torrent</b></label>
            <table id="uploadtorrent">
              <tr>
                <th>Torrent Name</th>
                <td><input id="name" type="text" name="torrent-name" class="posttext" required /></td>
              </tr>
              <tr>
                <th>Torrent Tags</th>
                <td><input id="tags" type="text" name="torrent-tags" class="posttext" title="Separate tags with commas e.g. movie,horror" /></td>
              </tr>
              <tr>
                <th>Description</th>
                <td><textarea id="description" name="torrent-description" class="postarea" required></textarea></td>
              </tr> {{ if .Captcha }} <tr>
                <th> Captcha </th>
                <td class="captcha_img">
                  <img id="captcha_img" src="/captcha/{{.Captcha}}.png" alt="captcha" />
                </td>
              </tr>
              <tr>
                <th> Solution </th>
                <td>
                  <input type="hidden" name="captcha-id" value="{{.Captcha}}" />
                  <input type="text" name="captcha-solution" autocomplete="off" id="captcha_solution" height="175" width="350" required />
                </td>
              </tr> {{ end }} <tr>
                <th>Torrent File</th>
                <td class="formaction">
                  <input type="file" name="torrent-file" class="postfile" />
                  <input type="submit" value="Upload" class="postbutton" /></td>
              </tr>
<!--
              <tr>
                <td colspan="2" class="infohelp">Note: <b>{{.TrackerURL}}</b> will be added as the default tracker; existing trackers will be preserved.</td>
              </tr>
-->
            </table>
          </form>
        </div> {{ template "script.html.tmpl" . }}
      </div>
    </div>
  </div>
</body>

</html>
