<!doctype html>
<html>
    <head>
      <title> {{ .Site }} -- {{ .Category.Name }} </title>
      <link rel="stylesheet" href="/static/style.css" />
      <link href="http://{{ .Domain }}/c/{{ .Category.ID }}/?t=atom" type="application/atom+xml" rel="alternate" title="{{ .Category.Name}} torrents on {{ .Site }}" />
    </head>
    <body>
        <center>
          <h1> {{ .Category.Name }} </h1>
          <h3> <a href="/">Front Page</a> </h3>
          {{ if .HasNextPage }}<h3> <a href="/c/{{ .Category.ID }}/?p={{ .NextPage }}"> Next </a> </h3>{{ end }}
          {{ if .HasPrevPage }}<h3> <a href="/c/{{ .Category.ID }}/?p={{ .PrevPage }}"> Prev </a> </h3>{{ end }}
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Size</th>
                    <th>Uploaded</th>
                </tr>
            </thead>
            <tbody>
                {{ range .Torrents }}
                <tr>
                  <td>
                    <a href="magnet:?xt=urn:btih:{{ .InfoHash }}"><img src="/static/magnet.png"></img></a>
                    <a href="{{ .DownloadLink }}"><img src="/static/download.png"></img></a>
                  </td>
                    <td><a href="/t/{{ .InfoHash }}/">{{ .Name }}</a></td>
                    <td>{{ .SizeString }}</td>
                    <td>{{ FormatDate .UploadedAt }}</td>
                </tr>
                {{ end }}
            </tbody>
        </table>
        <hr/>
        <p> add a torrent </p>
        <form method="POST" enctype="multipart/form-data">
            <input type="file" name="torrent-file" />
            <br/>
            <label for="name">Name of Torrent</label>
            <input name="torrent-name" id="name" />
            <br/>
            <label for="tags">Tags</label>
            <input name="torrent-tags" id="tags" />
            <br/>
            <label for="description">Description of Torrent</label>
            <br/>
            <textarea name="torrent-description" id="description"></textarea>
            <br/>
            {{ if .Captcha }}
            <input type="hidden" name="captcha-id" value="{{ .Captcha }}" />
            <img src="/captcha/{{ .Captcha }}.png"></img>
            <br/>
            <label for="captcha">captcha solution:</label>
            <input id="captcha" name="captcha-solution" />
            {{ end }}
            <input type="submit" value="upload" />
        </form>
        </center>
    </body>
</html>
