<!doctype html>
<html>
    <head>
      <title> Error </title>
      <link rel="stylesheet" href="/static/style.css" />
      <meta http-equiv="refresh" content="3; ." />
    </head>
    <body>
        <h2 style="color:red;">{{ .Error }} </h2>
    </body>
</html>
