<!doctype html>
<html>
    <head>
      <title> {{ .Site }} </title>
      <link rel="stylesheet" href="/static/style.css" />
      <link href="http://{{ .Domain }}/?t=atom" type="application/atom+xml" rel="alternate" title="recent torrents on {{ .Site }}" />
    </head>
    <body>
        <center>
          <h1> {{ .Site }} </h1>
          <h2> Torrent Index </h2>
          <hr />
          <h3><a href="/s/">Tag Search</a></h3>
          <h3> Categories </h3>
          <table>
            <tbody>
              {{ range .Categories }}
              <tr>
                <td><span class="cat"><a href="/c/{{ .ID }}/">{{ .Name }}</a></span></td>
              </tr>
              {{ end }}
            </tbody>
          </table>
          <hr />
          <h3> Recent Uploads </h3>
          <table>
            <thead>
              <tr>
                <th>Category</th>
                <th>Name</th>
                <th>Size</th>
                <th>Uploaded</th>
              </tr>
            </thead>
            <tbody>
              {{ range .Torrents }}
              <tr>
                <td><span class="cat"><a href="/c/{{ .Category.ID }}/">{{ .Category.Name }}</a></span></td>
                <td><span class="name"><a href="/t/{{ .InfoHash }}/">{{ .Name}}</a></span></td>
                <td><span class="size">{{ .SizeString }}</span></td>
                <td><span class="date">{{ FormatDate .UploadedAt }}</span></td>
              </tr>{{ end }}
            </tbody>
          </table>
          <hr />
          <h3> Source Code </h3>
          <p> <a href="http://git.psii2pdloxelodts.onion/psi/torrent.ano/"> onion </a> </p>
          <p> <a href="http://git.psi.i2p/psi/torrent.ano/"> i2p </a> </p>
          <p> for automated upload ask psi on irc2p for a login </p>
        </center>
    </body>
</html>
