<!DOCTYPE HTML>
<html>
    <head>
      <title> {{ .Site }} </title>
      <link rel="stylesheet" href="/static/style.css" />
      <link href="http://{{ .Domain }}/?t=atom" type="application/atom+xml" rel="alternate" title="recent torrents on {{ .Site }}" />
    </head>
    <body>
        <center>
          <h1> {{ .Site }} </h1>
          <h2> Torrent Booru </h2>
          <hr />
          <h3><a href="/s/">Tag Search</a></h3>
          <h3> Categories </h3>
          <table>
            <tbody>
              {{ range .Categories }}
              <tr>
                <td><span class="cat"><a href="/c/{{ .ID }}/">{{ .Name }}</a></span></td>
              </tr>
              {{ end }}
            </tbody>
          </table>
          <hr />
          <h3> Recent Uploads </h3>
          <table>
            <thead>
              <tr class="header">
                <td><b>Categories</b>&nbsp;
                  <span id="atom" style="float: right;"><a href=".?t=atom" title="Atom feed for recent torrents"><img src="/static/feed.png"></a></span>
                  <span id="tsearch" style="float: right;"><a href="/s/" title="Search for content by tag"><img src="/static/search.png"></a></a></span>
                </td>
              </tr>
              <tr>
                <th id="catlist" style="text-align: center !important;">{{ range .Categories }}<span class="cat"><a href="/c/{{ .ID }}/">{{ .Name }}</a></span>{{ end }}</th>
              </tr>
            </thead>
          </table>
        </div>
        <hr>
        <table id="recent">
          <thead>
            <tr class="header">
<!--              <td colspan="5"><b>Recent Uploads</b></td>-->
              <td colspan="4"><b>Recent Uploads</b></td>
            </tr>
            <tr>
              <th>Category</th>
              <th>Name</th>
              <th class="dateuploaded">Uploaded</th>
              <th class="filesize">Size</th>
<!--              <th>Seeds</th>-->
            </tr>
          </thead>
          <tbody>
          {{ range .Torrents }}
            <tr>
              <td><span class="cat"><a href="/c/{{ .Category.ID }}/">{{ .Category.Name }}</a></span></td>
              <td><span class="name"><a href="/t/{{ .InfoHash }}/">{{ .Name}}</a></span></td>
              <td class="dateuploaded"><time class="date" datetime="{{ FormatDateGlobal .UploadedAt }}" title="{{ FormatDateRFC2822 .UploadedAt }}"><span class="timeshort">{{ FormatDateNoTime .UploadedAt }}</span></time></td>
              <td class="filesize"><span class="size">{{ .SizeString }}</span></td>
<!--              <td> .Complete </td>-->
            </tr>
          {{ end }}
          </tbody>
        </table> {{ template "script.html.tmpl" . }}
      </div>
    </div>
  </div>
  <p style="text-align: center !important;" id="footer">Running on <a href="http://git.psi.i2p/psi/torrent.ano/" target="_blank">torrent.ano</a> / <a href="http://skank.i2p/static/i2p+.html" target="_blank">I2P+</a> | Mods & theme by dr|z3d</p>
</body>

</html>
