<!DOCTYPE HTML>
<html>
  <head>
    <title>404 Not Found</title>
    <style type="text/css">
      body, html {min-height: 100%;}
      body {background: #111;}
      body {background: repeating-linear-gradient(45deg, #444, #333 2px, #222 3px), repeating-linear-gradient(135deg, #444, #333 2px, #222 3px); background-blend-mode: multiply, normal;}
      .inner, #footer {opacity: 0;}
    </style>
    <link rel="stylesheet" href="/static/style.css" />
    <meta http-equiv="refresh" content="3; /" />
  </head>
  <body>
    <div class="container">
    <div class="panel">
    <div class="inner error">
      <div id="topnav">ERROR 404 NOT FOUND</div>
      <hr>
      <h2>{{ .Message }}</h2>
    </div>
    </div>
    </div>
  </body>
</html>
