<!DOCTYPE HTML>
<html>
  <head>
    <title>404 Not Found</title>
    <link rel="stylesheet" href="/static/style.css" />
    <meta http-equiv="refresh" content="3; /" />
  </head>
  <body>
    <div class="container">
    <div class="panel">
    <div class="inner error">
      <div id="topnav">ERROR 404 NOT FOUND</div>
      <hr>
      <h2>{{ .Message }}</h2>
    </div>
    </div>
    </div>
  </body>
</html>
