<!doctype html>
<html>
    <head>
      <title> 404 Not Found </title>
      <link rel="stylesheet" href="/static/style.css" />
    </head>
    <body>
        <h2>{{ .Message }} </h2>
    </body>
</html>
