<!doctype html>
<html>
    <head>
      <title> {{ .Site }} -- Tag Search </title>
      {{ if .Search }}
      {{ if .SelectedTag }}
      <link href="{{ .FeedURL }}" type="application/atom+xml" rel="alternate" title="{{ .SelectedTag.Name}} torrents on {{ .Site }}" />
      {{ else }}
      <link href="{{ .FeedURL }}" type="application/atom+xml" rel="alternate" title="{{ .SearchTag }} torrents on {{ .Site }}" />
      {{ end }}
      {{ end }}
      <link rel="stylesheet" href="/static/style.css" />
    </head>
    <body>
        <center>
          <h3> <a href="/">Front Page</a> </h3>
          <h3> <a href="/s/">Search</a> </h3>
          <form method="GET">
            <label for="query">Search by Tag Name</label>
            <input name="q" id="query" />
            <input type="submit" value="search" />
          </form>
          <hr />

          {{ if .SelectedTag }}
          <h2> Torrents For {{ .SelectedTag.Name }} </h2>
          <div class="torrents">
            {{ range .Torrents }}
            <div class="torrent" id="torrent_{{ .InfoHash }}">
              <div class="header">
                <div class="magnet">
                  <a href="magnet:?xt=urn:btih:{{ .InfoHash }}"><img src="/static/magnet.png"></img></a>
                </div>
                <div class="torrentfile">
                  <a href="{{ .DownloadLink }}"><img src="/static/download.png"></img></a>
                </div>
              </div>
              <div class="info">
                <div class="name"><a href="/t/{{ .InfoHash }}/">{{ .Name}}</a></div>
                <div class="date">{{ FormatDate .UploadedAt }}</div>
                <div class="size">{{ .SizeString }}</a></div>
              </div>
            </div>{{ end }}
          {{ else }}
          {{ if .Search }}
          <h3> No Such Tag </h3>
          {{ else }}
          <h3> Popular Tags </h3>
          <table>
            <tbody>
                {{ range .PopularTags }}
                <tr>
                  <td><a href="{{ .SearchLink }}">{{ .Name }}</a></td>
                  <td>{{ .Rank }} Results</td>
                </tr>
                {{ end }}
            </tbody>
          </table>
          {{ end }}
          {{ end }}
        </center>
    </body>
</html>
