<!doctype html>
<html>
    <head>
      <title> {{ .Site }} -- Tag Search </title>
      {{ if .Search }}
      {{ if .SelectedTag }}
      <link href="{{ .FeedURL }}" type="application/atom+xml" rel="alternate" title="{{ .SelectedTag.Name}} torrents on {{ .Site }}" />
      {{ else }}
      <link href="{{ .FeedURL }}" type="application/atom+xml" rel="alternate" title="{{ .SearchTag }} torrents on {{ .Site }}" />
      {{ end }}
      {{ end }}
      <link rel="stylesheet" href="/static/style.css" />
    </head>
    <body>
        <center>
          <h3> <a href="/">Front Page</a> </h3>
          <h3> <a href="/s/">Search</a> </h3>
          <form method="GET">
            <label for="query">Search by Tag Name</label>
            <input name="q" id="query" />
            <input type="submit" value="search" />
          </form>
          <hr />

          {{ if .SelectedTag }}
          <h2> Torrents For {{ .SelectedTag.Name }} </h2>
          <table>
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Size</th>
                    <th>Uploaded</th>
                </tr>
            </thead>
            <tbody>
                {{ range .Torrents }}
                <tr>
                  <td>
                    <a href="magnet:?xt=urn:btih:{{ .InfoHash }}"><img src="/static/magnet.png"></img></a>
                    <a href="{{ .DownloadLink }}"><img src="/static/download.png"></img></a>
                  </td>
                    <td><a href="/t/{{ .InfoHash }}/">{{ .Name }}</a></td>
                    <td>{{ .Size }}</td>
                    <td>{{ FormatDate .UploadedAt }}</td>
                </tr>
                {{ end }}
            </tbody>
          </table>
          {{ else }}
          {{ if .Search }}
          <h3> No Such Tag </h3>
          {{ else }}
          <h3> Popular Tags </h3>
          <table>
            <tbody>
                {{ range .PopularTags }}
                <tr>
                  <td><a href="{{ .SearchLink }}">{{ .Name }}</a></td>
                  <td>{{ .Rank }} Results</td>
                </tr>
                {{ end }}
            </tbody>
          </table>
          {{ end }}
          {{ end }}
        </center>
        <script>
          document.body.innerHTML = "turn off js";
        </script>
    </body>
</html>
