<!DOCTYPE HTML>
<html>
  <head>
    <title> {{ .Site }} - Torrent successfully uploaded </title>
    <link rel="stylesheet" href="/static/style.css" />
    <meta http-equiv="refresh" content="3; /" />
  </head>
  <body>
    <div class="container">
      <div class="panel">
        <div class="inner">
          <div id="topnav">SUCCESS!</div>
          <hr>
          <h2>{{ .Torrent }} uploaded </h2>
        </div>
      </div>
    </div>
  </body>
</html>

