<!doctype html>
<html>
    <head>
      <title> Success </title>
      <link rel="stylesheet" href="/static/style.css" />
    </head>
    <body>
        <h2>{{ .Torrent }} Uploaded </h2>
    </body>
</html>
