<!doctype html>
<html>
    <head>
        <title> {{ .Site }} - {{ .Torrent.Name }} </title>
        <link rel="stylesheet" href="/static/style.css" />
    </head>
    <body>
        <center>
            <h3> <a href="/">Front Page</a> </h3>
            <table>
                <tbody>
                    <tr>
                        <td>Name </td>
                        <td>{{ .Torrent.Name }}</td>
                    </tr>
                    <tr>
                        <td>Infohash </td>
                        <td>{{ .Torrent.InfoHash }}</td>
                    </tr>
                    <tr>
                     <td>
                       Magnet: <a href="magnet:?xt=urn:btih:{{ .Torrent.InfoHash }}"><img src="/static/magnet.png"></img></a>
                     </td>
                     <td>
                       Torrent: <a href="/dl/{{ .Torrent.InfoHash }}.torrent"><img src="/static/download.png"></img></a>
                    </td>
                    </tr>
                </tbody>
            </table>
            <hr />
            <p> Files </p>
            <table>
                <tbody>
                    <tr><td> Name </td><td> Size </td></tr>
                    {{ range .Files }}
                    <tr><td> {{ .Name }} </td><td> {{ .SizeString }} </td></tr>
                    {{ end }}
                    <tr>
                    </tr>
                    <tr><td> Total Size: </td><td> {{ .Torrent.SizeString }} </td></tr>
                </tbody>
            </table>
            <hr />
            <form method="POST">
              <input name="captcha-id" type="hidden" />
              <textarea name="comment"></textarea>
              <img src="/captcha/{{ .Captcha }}.png"></img>
              <label for="captcha">captcha solution:</label>
              <input id="captcha"></input>
              <input type="submit" value="comment" />
            </form>
            <p> Comments </p>
            {{ range .Comments }}
            <div class="comment" id="comment_{{ .ID }}">
              <div class="date"> Posted On {{ .Posted }} </div>
              <div class="message">
                {{ .Text }}
              </div>
            </div>
            {{ end }}
        </center>
    </body>
</html>
