<!doctype html>
<html>
    <head>
        <title> {{ .Site }} - {{ .Torrent.Name }} </title>
        <link rel="stylesheet" href="/static/style.css" />
        <link href="http://{{ .Domain }}/t/{{ .Torrent.InfoHash }}/?t=atom" type="application/atom+xml" rel="alternate" title="recent comments on {{ .Torrent.Name }}" />
    </head>
    <body>
        <center>
            <h3> <a href="/">Front Page</a> </h3>
            <table>
                <tbody>
                    <tr>
                        <td>Name </td>
                        <td>{{ .Torrent.Name }}</td>
                    </tr>
                    <tr>
                        <td>Infohash </td>
                        <td>{{ .Torrent.InfoHash }}</td>
                    </tr>
                    <tr>
                        <td> Uploaded </td>
                        <td> {{ FormatDate .Torrent.UploadedAt }} </td>
                    </tr>
                    <tr>
                     <td>
                       Magnet: <a href="magnet:?xt=urn:btih:{{ .Torrent.InfoHash }}"><img src="/static/magnet.png"></img></a>
                     </td>
                     <td>
                       Torrent: <a href="/dl/{{ .Torrent.InfoHash }}.torrent"><img src="/static/download.png"></img></a>
                    </td>
                    </tr>
                </tbody>
            </table>
            <hr />
            <p> Tags </p>
            <div class="tags">
              {{ range .Tags }}
              <span class="tag">
               [ <a href="{{ .SearchLink }}">{{ .Name }}</a> ( {{ .Rank }} ) ]
              </span>
              {{ end }}
            </div>
            <p> Files </p>
            <table>
                <tbody>
                    <tr><td> Name </td><td> Size </td></tr>
                    {{ range .Files }}
                    <tr><td> {{ .Name }} </td><td> {{ .SizeString }} </td></tr>
                    {{ end }}
                    <tr>
                    </tr>
                    <tr><td> Total Size: </td><td> {{ .Torrent.SizeString }} </td></tr>
                </tbody>
            </table>
            <hr />
            <p> Comments </p>
            {{ range .Comments }}<div class="comment" id="comment_{{ .ID }}"><div class="date"> Posted On {{ FormatDate .Posted }} </div>
              <div class="message">{{ .Text }}</div></div>{{ end }}
            <hr />
            <form method="POST">
              {{if .Captcha }}
              <input name="captcha-id" type="hidden" value="{{ .Captcha }}"/>
              <br />
              <img src="/captcha/{{ .Captcha }}.png"></img>
              <br />
              <label for="captcha">captcha solution:</label>
              <input id="captcha" name="captcha-solution"></input>
              <br />
              {{ end }}
              <textarea class="comment" name="comment"></textarea>
              <br />
              <input type="submit" value="comment" />
            </form>
        </center>
        <script>
          document.body.innerHTML = "turn off js";
        </script>
    </body>
</html>
